<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name=”robots” content=”noindex,nofollow”>
  <title>Notetaker</title>

  <!-- fonts -->
<!--   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    rel="stylesheet"> -->

  <!-- {% load static %} -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'normalize.min.css' %}?v=8.0.1"> -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.min.css' %}?v=20220427j"> -->

</head>
<body>

  <div class="container">

    {% block content %}{% endblock %}

  </div><!-- /container -->

  <!-- <script src="{% static 'main.min.js' %}?v=20220427aa"></script> -->

</body>
</html>