{% extends "./_base.html" %}

{% block content %}

  <div>
    <button
      type="button"
      id="add_note"
      class="note-button new-note-button">
      Add a Note
    </button>
  </div>

  {% for note in current_notes %}
    {% if note.note_archive == False %}
    <p>
      {{ note.note_date }}<br>
      {{ note.note_symbol }}<br>
      {{ note.note_text }}<br>
      {% if note.note_action %}
        action taken: yes
      {% else %}
        action taken: no
      {% endif %}
      archived: {{ note.note_archive }}
    </p>

    <div>
      <button
        type="button"
        class="note-button edit-note-button"
        value="{{ note.id }}">
        Edit</button>
    </div>

    {% endif %}

  {% endfor %}


{% endblock %}
